.bg {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-0 {
  background: #1f4037; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #99f2c8,
    #1f4037
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-1 {
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-2 {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-3 {
  background: #f093fb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5576c, #f093fb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5576c,
    #f093fb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-4 {
  background: #f6d365; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fda085, #f6d365); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fda085,
    #f6d365
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-5 {
  background: #c1dfc4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #deecdd, #c1dfc4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #deecdd,
    #c1dfc4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-6 {
  background: #fbc2eb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a6c1ee, #fbc2eb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a6c1ee,
    #fbc2eb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-7 {
  background: #f5f7fa; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c3cfe2, #f5f7fa); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c3cfe2,
    #f5f7fa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
